{% extends "ventureapp/base.html"%}
{% block content%}
    <h1>Add Comment</h1>
    {% comment %} tell form its ok to accept images.  add enctype {% endcomment %}
    <form class="post-form" method="POST">
        {% csrf_token %}
        {% comment %} to keep items in line {% endcomment %}
        {{form.as_p}}
        <button type="submit" class='save btn btn-default'>Add Comment</button>

    {% comment %} this is for including MediumEditor {% endcomment %}
    <script>var editor = new MediumEditor('.editable');</script>


{% endblock %}
        